@model IEnumerable<BaseDatosMusica.Models.VistaCancione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expr1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expr1)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/img/editar-removebg-preview.png" width="25px" height="25px" /> </a>
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="~/img/detalles-removebg-preview.png" width="25px" height="25px" /></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/img/borrar-removebg-preview.png" width="25px" height="25px" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
