@model BaseDatosMusica.Models.Grupo

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar grupo</h1>

<h3>¿Estas seguro de que quieres borrar este grupo?</h3>
<div class="fondoblanco">
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Managers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Managers!.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index"><img src="~/img/flechaatras.png" width="35px" height="35px" /></a>
    </form>
</div>
